.app {
  display: flex;
  flex-direction:row;
  text-align: center;
}

.globe-div{
  display: flex;
  width: 800px;
  height: 750px;
}

.results{
  display: flex;
  width: 500px;
}

@media (prefers-reduced-motion: no-preference) {
  /* .App-logo {
    animation: App-logo-spin infinite 20s linear;
  } */
}


