/**
1A2C5B
3E4E88
7971EA
B8DFF0
*/

html {
  box-sizing: border-box;
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #1A2C5B;
}

.app {
  display: flex;
  text-align: center;
  flex-direction: column; 
  background-color: #1A2C5B;
  width: 95%;
  height: 95%;
}

.main{
  display: flex;
  max-height: 90vh;
  flex: 9;
}

.user-bar{
  display: flex;
  flex-direction: column;
  flex: 2;
}

.filter-bar{
  padding: 10px;
  border-radius: 10px;
  background-color: #7A86B6;
}

.page-info {
  margin: 5px;
  color: white;
}

.results{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  overflow: scroll;
  overflow-x: hidden;
  vertical-align: middle;
}

::-webkit-scrollbar {
  color: red;
}

li{
  list-style-type: none;
}

.card-div{
  padding: 10px;
  border: solid 1px;
  background-color: #C8B6E2;
  border-radius: 5px;
  margin: 2.5px 5px;
}

.card-div:hover {
  background-color:#4F5F99;
}

.globe-div{
  display: flex;
  flex: 5;
  width: 100%;
  height: 100%;
}

/* stylelint-disable-next-line selector-class-pattern */
.cesium-viewer-cesiumWidgetContainer{
  width: 100%;
  height: 100%;
}

.cesium-widget-credits{
  display:none !important;
}

.cesium-viewer{
  border-radius: 10px;
  margin-left: 10px;
}

.viewer {
  display: flex;
  width: 100%;
  height: 100%;
}

.search-filter{
  background: #A8A4CE;
}

.foot-button {
  height: fit-content;
  align-self: center;
}

.my-footer{
  background-color: #A8A4CE;
  flex: 1;
  display: flex;
}

.my-footer > p {
  padding-left: 10px;
  margin: 0;
  align-self: center;
}


.header {
  flex: 1;
}


.pages-btn{
  display: flex;
  justify-content: space-between;
}

button {
  margin: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 1px solid;
  padding: 0.5em;
  box-shadow: 1px 1px 0 0, 1px 1px 0 0, 2px 2px 0 0, 3px 3px 0 0, 4px 4px 0 0;
}

.results::-webkit-scrollbar {
  width: 12px;              
}

.meteorite-title{
  font-size: 23px;
  text-align: start;
  margin : auto 10px;
  font-family: sans-serif;
  font-weight: bolder;
}

hr{
  margin: 10px;
}

.info-title{
  font-family: sans-serif;
  color: darkslategrey;
  text-align: start;
  margin: 0 10px;
}

.info{
  font-family: sans-serif;
  margin: 0 10px;
  text-align: start;
}

.meteorite-info{
  display: flex;
  flex-direction: row;
}

.info-div{
  display: flex;
  flex-direction: column;
}

#popup {
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: #404040a0;
  align-items: center;
  justify-content: center;
  color: white;
}

#popup > section {
  background-color: #101b39;
  width: 30vw;
  padding: 10px;
  border: 1px #7971EA solid;
}

#popup > section > button {
  align-self: flex-end;
  justify-self: end;
}


.header h1 {
  margin: 0;
}

@media (1px <= width <= 800px) {
  .app{
    height: 100vh;
  }

  .main{
    display: flex;
    flex-direction: column;
  }

  .user-bar{
    height: 100%;
  }

  .results{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .globe-div{
    max-height: 50vh;
  }

  .card-div{
    min-width: 75vw;
    text-align: center;
    padding-bottom: 0;
    margin-right: 20px;
  }

  .info-title{
    color: darkslateblue;
    margin: 0 1px;
  }

  .meteorite-title{
    text-align: center;
  }

  .meteorite-info{
    justify-content: center;
  }
}